
/* *{
  outline: 1px solid red;
} */

table {
  padding: 5px;
}
.petPage{
  text-align: center;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  padding: 0px 5px 20px 20px;
  margin-bottom: 50px;

}

.petDescription{
  text-align: left;
  width: 180px;
}

.petBio{
  text-align: left;

}

.petDetails{
  display: flex;
  justify-content: space-between;
  margin: auto;
  
}



.formInput{
  display: flex;
  justify-content:space-between;
}

label,select{
  width: 400px;
}

.updateButton, .editPage{
  text-align: center;
}
.petForm {
  margin: auto;
  width: 300px;
}

.home {
  text-decoration: none;
  color: black;
  font-size: large;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

button {
  box-shadow: 2px 2px 2px black;
}

table, th, td {
  border: 1px solid black;
}

.pet {
  display: flex;
  margin: auto;
  background-color: lightblue;
  flex-direction: column;
  width: 500px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  font-weight: 450;
  text-align: center;
}

.imgpet{
  width: 300px;
}

.error-text{
  color: red;
  margin-left: 25px;
  margin-bottom: 25px;
}

.App {
margin: auto;
width: 500px;
background-image: ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
